body {
  margin: 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background: #222;
  padding: 2em;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav a {
  margin: 0 1em;
  color: #0ff;
  text-decoration: none;
}

main {
  padding: 2em;
}
#videoWrapper {
  width: 80%;
  max-width: 960px;
  transition: opacity 0.5s ease-in-out;
}

#videoWrapper.fade-out {
  opacity: 0;
}

#videoPlayer {
  width: 100%;
  filter: grayscale(100%);
  border: 2px solid #ccc;
  border-radius: 8px;
}